#cell-types {
    background-color: #CCCCCC;
    clear: both;
    vertical-align: top;
}

#cell-types .cell {
    cursor: pointer;
}

#cell-types .cell-container {
    vertical-align: top;
    position: relative;
    display: inline-block;
}

#cell-add-button {
    display: inline-block;
    cursor: pointer;
}