.rule {
    background: grey;
    display: inline-block;
    min-height: 96px;
    width: 96px;
    border: 4px solid black;
    margin: 1px;
    vertical-align: top;
}


.rule[data-selected="1"] {
    outline: magenta 1px solid;
}

.rule .header {
    padding: 0px;
    text-align: center;
    cursor: pointer;
    border-bottom: 4px solid black;
}

.rule .header[data-active="1"] {
    background: #2f535f;
}

.rule .body {
    padding: 4px;
}
