.rule {
    background: grey;
    float: left;
    min-height: 96px;
    width: 96px;
    border: 4px solid black;
    margin: 1px;
}

.rule .pattern {
    float: left;
    height: 96px;
    width: 96px;
}

.rule .pattern.output {
    border-top: 3px solid black;
}
